html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-image: url("../img/background-copy.jpg");
    font-family: Arial, Helvetica, sans-serif;
    /*max-width: 1600px;*/
}

/* Grid */

/*

.container {
padding: 0 30px;
}

.container .column {
    display: inline-block;
    padding: 3em;
    vertical-align: top;
}

.container .one-of-two {
    width:49%;
}*/

#header {
    width: 100%;
}

/* Header */

#logo {
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    border-top: 0.7em solid #000000;
}

#logo img {
    width: 10%;
    display: block;
    margin: auto;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#navigation ul {
    margin-top: 0;
    margin-bottom: 1em;
    padding: 0.1em 0;
    list-style: none;
    width: 100%;
    text-align: center;
    background-color: #133f66;
}

#navigation li {
    display: inline-block;
    margin-right: 1px;
}

li a {
    display: block;
    min-width: 1.5em;
    padding: 0.6em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

li a:hover {
    text-decoration: none;
    color: #d7b424;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}

/* Location and Hours of Operations */

#contact-info {
    width: 100%;
    background-color: white;
    margin-top: -20px;
    padding: 15px 10px;
}

.contact {
    display: inline-block;
    margin: auto;
    width: 33%;
    text-align: center;
}

.little {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    font-size: 14px;
    color: #6f9929;
    font-weight: 400;
}

.big {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #133f66;
    font-size: 24px;
    letter-spacing: 0.5px;
    margin-top: -15px;
}

.contact img {
    width: 70px;
}

/* Main Section */

#main {
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
}

#main-content {
    background-color: #ffffff;
    border-radius: 1em;
    max-width: 1200px;
    padding: 20px 20px 20px 20px;
    margin: auto;
    margin-top: 50px;
}

#main-content h1 {
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #133f66;
}

#main-content h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #4e2b19;
}

#main-content p {
    font-family: 'Open Sans', sans-serif;
}

#main-content a {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 300;
    color: #bf1e2e;
}

#main-content a:hover {
    color: #6f9929;
}

button {
    width: 8em;
    height: 3em;
    padding: 0.2em 0 0.2em 0;
    border-style: none;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 800;
    text-decoration: none;
    background-color: #bf1e2e;
}

button:hover {
    width: 9em;
    height: 4em;
    background-color: #133f66;
}

button:active {
    font-style: italic;
}


img {
    max-width: 100%;
}

/* Footer */

#footer {
    clear: both;
    width: 100%;
    background-color: #133f66;
    font-family: 'Delius Swash Caps', cursive;
    color: #ffffff;
    height: 3em;
    text-align: center;
    font-size: 1.5em;
}

/* Media Queries */

/*Mobile Menu*/

@media screen and (max-width: 450px) {
    li {
        margin-bottom: 1px;
    }
    ul li,
    li a {
        width: 100%;
    }
}

/* Mobile Grid */

@media screen and (max-width: 950px) {
    .container .one-of-two {
        width: 100%;
    }

    .image-swatches li {
        width: 33%;
    }
}

@media screen and (max-width: 670px) {
    .image-swatches li {
        width: 100%;
    }
    .color-swatches li {
        width: 50%;
    }
}

/* Special Events, Promotions, Dish of The Day */

#three-column-container {
    max-width: 900px;
    margin: auto;
}

.special-widgets {
    display: block;
    float: left;
    height: 480px;
    align-content: center;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 1% 0 1% 1.6%;
}

.special-widgets:first-child {
    margin-left: 0;
}

/*  Grouping  */
.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  Three Column Grid  */
.one-of-three {
    width: 32.26%;
}

/*  Widgets go full width below 480px */
@media only screen and (max-width: 480px) {
    .special-widgets {
        margin: 1% 0 1% 0%;
    }
    .one-of-three { width: 100%; }
}

.special-widgets h2 {
    font-family: 'Open Sans', sans-serif;
    color: #133f66;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
    text-align: center;
}

.special-widgets p,
li {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 10px;
}

.special-widgets img {
    width: 300px;
}

/* Rotating Text Banner Styling */

#rotating-banner {
    width: 100%;
    background-color: #6f9929;
    text-align: center;
    margin-top: -30px;
    min-height: 100px;
}

#rotating-banner p {
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    color: white;
    padding-top: 30px;
    padding-bottom: 15px;
}
