html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-image: url("../img/background-copy.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    width: 100%;
}

/* Header */

#logo {
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    border-top: 0.7em solid #000000;
}

#logo img {
    width: 10%;
    display: block;
    margin: auto;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#navigation ul {
    margin-top: 0;
    margin-bottom: 1em;
    padding: 0.1em 0;
    list-style: none;
    width: 100%;
    text-align: center;
    background-color: #133f66;
}

#navigation li {
    display: inline-block;
    margin-right: 1px;
}

li a {
    display: block;
    min-width: 1.5em;
    padding: 0.6em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

li a:hover {
    text-decoration: none;
    color: #d7b424;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}

/* Location and Hours of Operations */

#contact-info {
    width: 100%;
    min-height: 140px;
    background-color: white;
    padding: 15px 10px;
}

.contact {
    display: inline-block;
    float: left;
    margin: auto;
    text-align: center;
    width: 33%;
    margin-top: 30px;
}

.little {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    font-size: 14px;
    color: #6f9929;
    font-weight: 400;
    margin-top: -15px;
}

.big {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #133f66;
    font-size: 24px;
    letter-spacing: 0.5px;
    margin-top: -15px;
}

.little-bold {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    font-size: 14px;
    color: #133f66;
    font-weight: 700;
}

.contact img {
    width: 50px;
    padding-top: 20px;
}

@media screen and (max-width: 670px) {
    .contact {
        width: 100%;
    }
    #contact-info {
        min-height: 370px;
    }
}

/* Main Section */

#main {
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
}

#main-content {
    background-color: #ffffff;
    border-radius: 1em;
    max-width: 1200px;
    padding: 20px 20px 20px 20px;
    margin: auto;
    margin-top: 50px;
}

#main-content h1 {
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #133f66;
}

#main-content h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #4e2b19;
}

#main-content p {
    font-family: 'Open Sans', sans-serif;
}

#main-content a {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 300;
    color: #bf1e2e;
}

#main-content a:hover {
    color: #6f9929;
}

#wrap {
    float: left;
    margin: 0 10px 5px 0;
}

button {
    width: 8em;
    height: 3em;
    padding: 0.2em 0 0.2em 0;
    border-style: none;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 800;
    text-decoration: none;
    background-color: #bf1e2e;
}

button:hover {
    width: 9em;
    height: 4em;
    background-color: #133f66;
}

button:active {
    font-style: italic;
}


img {
    max-width: 100%;
}

/* Footer */

#footer {
    clear: both;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #133f66;
    color: #ffffff;
    max-height: 200px;
    text-align: center;
    font-size: 16px;
    padding-top: 15px;
}

/* Media Queries */

/* Mobile Menu */

@media screen and (max-width: 450px) {
    li {
        margin-bottom: 1px;
    }
    ul li,
    li a {
        width: 100%;
    }
}

/* Mobile Grid */

@media screen and (max-width: 950px) {
    .container .one-of-two {
        width: 100%;
    }

    .image-swatches li {
        width: 33%;
    }
}

@media screen and (max-width: 670px) {
    .image-swatches li {
        width: 100%;
    }
    .color-swatches li {
        width: 50%;
    }
}

/* Special Events, Promotions, Dish of The Day */

#three-column-container {
    max-width: 1200px;
    margin: auto;
}

.special-widgets {
    display: block;
    float: left;
    min-height: 540px;
    text-align: center;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 1% 0 1% 1.6%;
}

.special-widgets:first-child {
    margin-left: 0;
}

/*  Grouping */

.group: before,
.group: after {
    content: "";
    display: table;
}

.group::after {
    clear: both;
}

.group {
    zoom: 1; /* For IE */
}

/*  Three Column Grid  */

.one-of-three {
    width: 32.26%;
}

/*  Widgets go full width below 480px */
@media screen and (max-width: 480px) {
    .special-widgets {
        margin: 1% 0% 1% 0%;
        min-height: 600px;
    }
    .one-of-three {
        width: 100%;
    }
}

.special-widgets h2 {
    font-family: 'Open Sans', sans-serif;
    background-color: #133f66;
    color: white;
    width: 100%;
    min-height: 30px;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bolder;
    padding: 5px;
    text-align: center;
}

.special-widgets p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 0 20px 0 20px;
}

.special-widgets table {
    margin-top: -10px;
}

.special-widgets td {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding: 0 20px 0 20px;
}

.title {
    font-family: 'Open Sans', sans-serif;
    color: #bf1e2e;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
}

.special-widgets img {
    width: 100%;
}

.widget-button {
    padding: 0.2em 0.1em 0.2em 0.1em;
    border-style: none;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    background-color: #133f66;
    border-radius: 2px;
    margin-top: 10px;
}

/* Rotating Text Banner Styling */

#rotating-banner {
    width: 100%;
    background-color: #6f9929;
    text-align: center;
    margin-top: -30px;
    min-height: 100px;
}

#rotating-banner p {
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    color: white;
    padding-top: 30px;
    padding-bottom: 15px;
}

#big-image {
    width: 100%;
    max-height: 350px;
    margin-top: -15px;
}

#big-image img {
    width: 100%;
}

/* MENU PAGE */

.menu-align {
    text-align: center;
}

.price {
    font-size: 18px;
    font-weight: 700px;
    color: #bf1e2e;
}

.image-circle img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 4px #133f66;
}
